{% extends "base.html" %}

{% block content %}
    <h1>
        This is contact page .... 
    </h1>

    <h2>Navigation : </h2>
    <a href="/">Home</a> || 
    <a href="/about/">About</a>

    <h3>  Your friends contacts :</h3>
    
    <table class='container text-center' >
        <tr>
          <th>S.N</th>
          <th>Name</th> 
          <th>Adress</th> 
          <th>Phone number</th> 
        
        </tr>

        {% for people in peoples %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.address}}</td>
          <td >{{people.phone_no }}</td>
        </tr>
        {% endfor %}
        
      </table>


{% endblock %}
